/* Buttons */
input[type="submit"] {
  padding:
    var(--button-padding-vertical) var(--button-padding-horizontal)
    var(--button-padding-vertical) var(--button-padding-horizontal);
  cursor: pointer;
  color: var(--color-white) !important;
  background-color: var(--color-accent);
  font-weight: bold;
  font-size: 20px;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
  text-decoration: underline;
  background-color: var(--color-info);
  color: var(--color-accessible);
}

.webform-confirmation {
  max-width: var(--width-restricted-width-section);
}