/* Style things */

/* Desktop first level */
.js .menu__sub-menu-toggle {
  border: 2px solid transparent;
  background-color: var(--color-accent);
}

.js .menu__sub-menu-toggle-icon {
  /* Use mask to update the colour of the icons, the background colour is the colour the icons appear */
  background-color: var(--header-link-color);
  transform: rotate(90deg);
}

.js .menu__sub-menu-toggle:focus,
.js .menu__sub-menu-toggle:hover {
  border-color: var(--color-accent);
  background-color: var(--color-accent);
}

.js .menu__sub-menu-toggle:focus .menu__sub-menu-toggle-icon,
.js .menu__sub-menu-toggle:hover .menu__sub-menu-toggle-icon {
  /* Keep the icons visible on focus and hover */
  background-color: var(--header-background-color);
}

.js .menu > .menu-item--expanded > .menu {
  border-bottom: 3px solid var(--color-accent);
}

/* Align things better */
@media screen and (max-width: 48rem) {
  .menu-item--level-0.menu-item--expanded {
    align-items: baseline;
  }
}

@media screen and (min-width: 48rem) {
  .js .menu--menu-level-0 > .menu-item {
    position: relative;
    z-index: 1;
    line-height: 1rem;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
  }

  .js .menu .menu--sub-menu-level-1 {
    left: calc(var(--menu-item-padding)* -1);
    top: calc(var(--menu-item-padding)* 2 + var(--menu-main-font-size));
  }

  /* We want to make sure any sub-items on the last menu item do not overflow the screen. */
  .js .menu--menu-level-0 > .menu-item:last-child .menu {
    right: 0;
    left: unset;
  }
}
